@import '../../../../styles.scss';

@include fill('https://cdn.pixabay.com/photo/2016/08/19/15/11/lost-1605501_1280.jpg');

.darken {
  background-color: rgba(0, 0, 0, 0.336);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -500;
}

.flex {
  @extend %flex;
  width: 100vw;
}

.p404, .pmessage {
  color: white;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 25vw rgba(0, 0, 0, 0.705);
  
}
.p404 {
  font-size: 50vw;
  margin-bottom: -50px;
  margin-top: -50px;
  padding: 0;
  @media screen and (min-width: 960px) {
    font-size: 30vw;
  }
}

.pmessage {
  font-size: 12vw;
  margin-bottom: 20px;
  @media screen and (min-width: 960px) {
    text-shadow: 0px 0px 25vw rgb(0, 0, 0);
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.678);
  }
}
