<div class="fill"></div>
<div class="flex">
  <div class="card hoverable">
    <div class="card-content">
      <img class="logo" src="assets/logo0558a4.png" alt="Generic Company Logo">
      <h3 class="center heading">
        Welcome to the Student Registry
      </h3>
    </div>
    <div class="card-action blue lighten-5">
      <div class="flexy">
        <button (click)="enter()" [ngClass]="{'pulse': shouldPulse}" class="btn blue center waves-effect waves-light" type="button">Enter</button>
      </div>
    </div>
  </div>
</div>