@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
@import '../../styles.scss';

@include fill('5Vf1fcM.jpg');

// .darken {
//   background-color: rgba(0, 0, 0, 0.637);
//   height: 100vh;
//   width: 100vw;
//   position: fixed;
// }

.heading {
  font-weight: 500;
  font-family: 'Merriweather Sans', sans-serif;
  color: #0558a4;
}

.flex {
  @extend %flex;
  height: 100vh;
  width: 100vw;
}

.card {
  max-width: 70%;
}

.logo {
  max-width: 100%;
}

.flexy {  
  @extend %flex;
}

.center {
  justify-content: center;
}