<div class="col right">
  <a [routerLink]="['..']" class="btn-floating right red waves-effect waves-light tooltipped" data-position="top" data-tooltip="Cancel"><i class="material-icons">arrow_back</i></a>
</div>
<h5>Add a Course:</h5>
<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="input-field">
    <input
      #name="ngModel"
      ngModel
      required
      pattern="\w{2,}.*"
      type="text"
      id="name"
      name="name">
    <label for="name">Course Name</label>
    <span *ngIf="name.touched && name.errors" class="help-block">
      <span *ngIf="name.errors['required']">Course name is required</span>
      <span *ngIf="name.errors['pattern']">Name is invalid</span>
    </span>
  </div>
  
  <div class="input-field">
    <input
      #description="ngModel"
      ngModel
      pattern="\w+.*"
      type="text"
      id="description" 
      name="description">
    <label for="description">Course Description</label>
    <span *ngIf="description.touched && description.errors" class="help-block">
      <span *ngIf="description.errors['pattern']">Description is invalid</span>
    </span>
  </div>

  <div class="input-field">
    <select
      #instructor="ngModel"
      [ngModel]="0"
      id="instructor"
      name="instructor">
      <option value="0" disabled>Select a teacher (optional)</option>
      <option *ngFor="let instructor of instructors" [value]="instructor.id">{{ instructor.firstName }} {{ instructor.lastName }}</option>
    </select>
  </div>

  <div class="input-field">
    <button class="btn green waves-effect waves-light" type="submit" [disabled]="!form.valid">Add Course</button>
  </div>

</form>