@import '../../../styles.scss';

.buffer {
  margin-top: 10vw;
}

.flex {
  @extend %flex;
  height: 50vh;
  width: 100vw;
}

.material-icons {
  font-size: 20vw;
}  
.students-icon {
  color: $students-icon-color;
}
.courses-icon {
  color: $courses-icon-color;
}
.instructors-icon {
  color: $instructors-icon-color;
}

.link {
  cursor: pointer;
}

.center-flex {
  @extend %flex;
  padding: 30px 0;
}

.btn-flat {
  font-weight: bold;
  text-transform: none;
}
