@import '../../../../../styles.scss';

.active#studentLink {
  background-color: $students-color;
}

.active#courseLink {
  background-color: $courses-color;
}

.active#instructorLink {
  background-color: $instructors-color;
}