<div class="col right">
  <a [routerLink]="['..', 'edit', studentId]" class="btn-floating right red waves-effect waves-light tooltipped" data-position="top" data-tooltip="Edit student"><i class="material-icons">edit</i></a>
</div>
<div class="col right">
  <a [routerLink]="['../..','registration', studentId]" class="btn-floating right blue waves-effect waves-light tooltipped" data-position="down" data-tooltip="Register for courses"><i class="material-icons">school</i></a>
</div>

<h5>{{ firstName + ' ' + lastName }}</h5>
<div class="divider"></div>
ID: {{ studentId }}
<br><br>


<h6>Registered in the following courses: </h6>
<p *ngIf="!courses || courses.length < 1">None</p>
<table *ngIf="courses && courses.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let course of courses" (click)="onClick()">
        <td><a [routerLink]="['../..', 'courses', course.id]">{{ course.name }}</a></td>
        <td>{{ course.id }}</td>
      </tr>
  </tbody>
</table>