<div class="col right">
  <a [routerLink]="['..', 'edit', courseId]" class="btn-floating right red waves-effect waves-light tooltipped" data-position="top" data-tooltip="Edit course"><i class="material-icons">edit</i></a>
</div>
<h5>{{ courseName }}:</h5>
<h6>{{ instructor.firstName }} {{ instructor.lastName }}</h6>

<div class="divider"></div>
<em>ID: {{ courseId }} - {{ courseDescription }}</em>
<br><br>

<h6>Students Registered: {{ students.length }}</h6>
<table *ngIf="students && students.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td><a [routerLink]="['../..','students', student.id]">{{ student.firstName }} {{ student.lastName }}</a></td>
      <td>{{ student.id }}</td>
    </tr>
  </tbody>
</table>
